---
layout: default
---

<div class="home">
  <h1>
    {{ site.title }}
  </h1>

  <h1 class="page-heading">Announcements</h1>
  <div class="announcements" id="announcements">
    <!-- {% include announcements.html %} -->
    {% for category in site.categories %}
      {% if category[0] == site.announcedir %} 
        {% for post in category[1] %}
          <div class="cat-element index-announcement">
            <header>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <p> Date: {{ post.custom-date }} </p>
            </header>
            <div class="index-announcement-content">
              <p>{{ post.content }}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
  
  <p>
    <h1 class="page-heading">About course</h1>
    {% include_relative about.md %}
  </p>
  
  <div>
    <h1 class="page-heading">Content</h1>
    {% include index-toc.html %}
  </div>
</div>
