---
layout: default
---

<div class="home">
  <h1>
    {{ site.title }}
  </h1>
  
  <p>
    {% include_relative about.md %}
  </p>

  <div>
    <h1 class="page-heading">Content</h1>
  
    <ul class="post-list">
    {% for category in site.categories %}

      {% if category[0] == "content" %} 
        {% for post in category[1] %}
          {% if post.categories.size == 1 %}
          <li class="cat-element">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endif %}
        {% endfor %}

      {% else %}
      <li class="cat-element">
        {% if category[1].size == 1 %}
          <a class="post-link" href="{{ category[1][0].url | prepend: site.baseurl }}">{{ category | first }}</a>
        {% else %}
        <a class="post-link cat-header" href="#">{{ category | first }}</a>

        <ul>
        {% for post in category[1] %}
          {% if post.categories.size > 2 %} 
            <!-- hvis den har subcategorier... -->
          {% else %}
            <li class="cat-element">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
      </li>
    
    
      {% endif %}

      {% if category.child %}
        <p>child: true</p>
      {% else %}
        <p>not child</p>
      {% endif %}

    {% endfor %}  
    </ul>



    
    
  </div>
  <div> hei
      {% assign structur = "" %}
      {% for post in site.posts %}
        <p>{{ post.title }}</p>
        {{ post.categories.size }}
        {% assign cat = "" %}
        {{ post.url }}
        {% for category in post.categories %}
          {% if category == "content" %}
          {% else %}

          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
</div>